body {
	background-color: rgb(54, 57, 62);;
	color: rgb(203, 205, 207);
}
table {
	font-size: 200%;
	margin: auto;
	margin-bottom: 10%;
	width: 90%;
	height: 90vh;
	border-collapse: collapse;
	border: 1px solid #75715E;
}
table, th, td {
	border-bottom: 1px solid #75715E;
	text-align: center;
	vertical-align: center;
	padding: 2px 15px;
}
tr:nth-child(n) td:nth-child(2n) {
	border-left: 1px solid #75715E;
}
tr:nth-child(n) td:nth-child(3) {
	width: 15%;
	background-color: rgb(47, 49, 54);
}
tr:nth-child(n) td:nth-child(2) {
	width: 60%;
}
caption {
	border: 1px solid #75715E;
	background-color: rgb(47, 49, 54);
	height: 10%;
}
